.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ChatRoom {
  background-color: grey;
  text-align: center;
  border: 1px solid black;
}

.ChatRoomHeader {
  background-color: yellowgreen;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

.ChatMessage {
  background-color: yellow;
  display: flex;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-radius: 30;
}

.MessageBody {
  background-color: yellowgreen;
  border: none;
  margin: 5px;
  padding: 10px;
  text-align: justify;
  text-justify: inter-word;
  width: 100%;
}

.Avatar {
  background-color: goldenrod;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
  padding: 10;
  border: 1px dotted black;
  border-radius: 30;
}

.Avatar img {
  max-width: 80px;
  align-self: center;
}

.ListOfMessages {
  padding-inline-start: 10px;
}

.TextArea {
  margin-left: 10px;
}

.submit {
  margin-left: 10px;
  margin-top: 5px;
}

.Cargar {
  margin-top: 10px;
  margin-left: 10px;
  flex-grow: 3;
}

.People {
  flex-grow: 4;
}

.Container {
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
}

.navigation > li {
  background-color: green;
  margin: 0rem 2rem;
}

.navigation > li:hover {
  transform: scale(1.5);
}

.navigation > li > a {
  color: antiquewhite;
  padding: 2rem;
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
